/*** A4: 595 × 842 points ***/
@page { 
	size: A4 portrait;
	margin: 2cm;
	/**
	@frame content_frame {
		left: 50pt;
		width: 495pt;
		top: 50pt;
		height: 742pt;
		-pdf-frame-border: 1;
	}
	**/
}

/**@font-face { font-family: Metropolis; font-weight: 400; src: url('/home/aaron/workspace/python/amtools/res/fonts/Metropolis-Regular.otf'); }**/
/**@font-face { font-family: Metropolis; font-weight: 700; src: url('/home/aaron/workspace/python/amtools/res/fonts/Metropolis-Bold.otf'); }**/

/**@font-face { font-family: ZillaSlab; font-weight: 200; src: url('/home/aaron/workspace/python/amtools/res/fonts/ZillaSlab-Light.ttf'); }**/
@font-face { font-family: ZillaSlab; src: url('/home/aaron/workspace/python/amtools/res/fonts/ZillaSlab-Regular.ttf'); }
@font-face { font-family: ZillaSlab_Bold; src: url('/home/aaron/workspace/python/amtools/res/fonts/ZillaSlab-Bold.ttf'); }
@font-face { font-family: ZillaSlab_Italic; src: url('/home/aaron/workspace/python/amtools/res/fonts/ZillaSlab-Italic.ttf'); }
@font-face { font-family: ZillaSlab_BI; src: url('/home/aaron/workspace/python/amtools/res/fonts/ZillaSlab-BoldItalic.ttf'); }

@font-face { font-family: Ubuntu_Italic; src: url('/home/aaron/workspace/python/amtools/res/fonts/Ubuntu-Italic.ttf'); }


@font-face { font-family: RobotoMono; src: url('/home/aaron/workspace/python/amtools/res/fonts/RobotoMono-Regular.ttf'); }
@font-face { font-family: RobotoMono_Bold; src: url('/home/aaron/workspace/python/amtools/res/fonts/RobotoMono-Bold.ttf'); }

/**@font-face { font-family: Alfa; src: url('/home/aaron/workspace/python/amtools/res/fonts/AlfaSlabOne-Regular.ttf'); }**/
/**@font-face { font-family: Bungee; src: url('/home/aaron/workspace/python/amtools/res/fonts/Bungee-Regular.ttf'); }**/
@font-face { font-family: Calistoga; src: url('/home/aaron/workspace/python/amtools/res/fonts/Calistoga-Regular.ttf'); }
@font-face { font-family: Raleway; src: url('/home/aaron/workspace/python/amtools/res/fonts/Raleway-Regular.ttf'); }

pdftoc {
    display: block;
}
	
html {
	/**
	--font_heading: "Calistoga", serif;
	--font_ui: "ZillaSlab", serif;
	--font_text: "ZillaSlab", sans-serif;
	**/
    font-family: ZillaSlab, serif;
    font-size: 11pt;
    font-weight: normal;
    color: #000000;
}

h1,h2,h3,h4,h5,h6 {
    display: block;
}
h1,h2 {
	font-family: ZillaSlab_Bold, serif;
}

h1,h2,h3 {
    -pdf-outline: true;
    -pdf-outline-open: false;
}
h4,h5,h6 {
    -pdf-outline: false;
}

h1 {
	margin: 0.8em 0;
    /*18px via YUI Fonts CSS foundation*/
    font-size:138.5%;
    -pdf-outline-level: 0;
}

h2 {
	margin: 0.8em 0 0.4em 0;
    /*16px via YUI Fonts CSS foundation*/
    font-size:123.1%;
    -pdf-outline-level: 1;
}

h3 {
	margin: 0.5em 0 0.3em 0;
    /*14px via YUI Fonts CSS foundation*/
    font-size:108%;
    -pdf-outline-level: 2;
}

h4 {
    font-size:90%;
}
h4,h5,h6 {
	margin: 0.3em 0;
}


/*** Paragraphs and Text ***/

p {
    display: block;
    margin: 0.5em 0;
    line-height: 1.4;
}

strong, b {
    font-family: ZillaSlab_Bold, serif;
}

em, i {
    font-family: ZillaSlab_Italic, serif;
}
h1 em, h2 em {
    font-family: ZillaSlab_BI, serif;
}

strong em, em strong {
    font-family: ZillaSlab_BI, serif;
}

/***** links *****/
a {
    text-decoration: underline;
    color: blue;
    font-family: RobotoMono_Bold;
    font-size: 0.8em;
}

/***** images *****/

img {
	margin: 1.5em 0;
	display: block;
	width: auto;
	max-width: 100%; 
}

img.inline {
    display: inline;
    vertical-align: middle;
}


/***** horizontal line *****/

hr {
    display: block;
	width: 100%;
	border: none;
	border-bottom: 2px dashed rgb(210, 105, 100);
	margin: 1.0em 0; 
}

/***** lists *****/

ul, ol {
    display: block;
	margin: 0;
	line-height: 1.6;
}

li {
    margin: 0;
}

ul ul, ul ol, ol ul, ol ol {
    font-size: 0.9em;
    margin-left: 2em;
}


/***** blockquotes *****/
blockquote {
    display: block;
	width: 100%;
	margin: 1.2em 0.2em;
    border-right: 1pt solid #AAA;
    border-bottom: 1pt solid #AAA;
    border-left: 5pt solid rgb(210, 105, 100);
	padding: 0.5em 1.0em 0.1em 1.0em;
	background-color: #EEE;
    font-family: Ubuntu_Italic, sans-serif;
    color: #444;
}

/***** code/pre *****/
pre {
	margin: 1.2em 0;
	width: 100%;
	padding: 0.6em 0.9em;
	white-space: pre;

    border-right: 1pt solid #AAA;
    border-bottom: 1pt solid #AAA;
    border-left: 5pt solid rgb(210, 105, 100);

	background: #EEE;
	color: #444;
}

code {
	margin: 0 1.2em;
	padding: 0 0.2em;
	background: #EEE;
	font-size: 0.8em;
    font-family: RobotoMono_Bold, monospace;
}

pre code {
	margin: 0 1.2em;
	padding: 0 0.2em;
	background: #EEE;
	font-size: 0.8em;
    font-family: RobotoMono, monospace;
}

/***** tables *****/

table {
    display: block;
	margin: 1.5em 0;
	width: 100%;
	padding: 0;
}

tr {
	width: 100%;
	min-height: 1em;
    border-left: 1px solid rgb(210, 105, 100);
    border-right: 1px solid rgb(210, 105, 100);
}
tr.head {
    background-color: rgb(210, 105, 100);
    color: white;
    font-family: Calistoga;
}
tr.odd {
	background-color: #DDD;
}
tr.even {
	background-color: #EEE;
}
tr.first {
    border-top: 1px solid rgb(210, 105, 100);
}
tr.last {
    border-bottom: 1px solid rgb(210, 105, 100);
}

td {
    padding: 0.2em 0.2em 0.0em 0.2em;
}


/** Class for defining a page-break space (create a div with &nbsp;) **/
.pb {
	margin: 0;	padding: 0;
	font-size: 0; line-height: 0;
	page-break-after: always;
}

/** Classes for adding vertical space (create a div with &nbsp;) **/
.vs-xs, .vs-sm, .vs-md, .vs-lg, .vs-xl, .vs-xxl {
	margin: 0; 
}
.vs-xs {	padding-top: 0.00in;	}
.vs-sm {	padding-top: 0.25in;	}
.vs-md {	padding-top: 0.60in;	}
.vs-lg {	padding-top: 1.20in;	}
.vs-xl {	padding-top: 2.00in;	}
.vs-xxl {	padding-top: 3.20in;	}


